@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

:root {
  --primary-color: #f80a39;
  --primary-gradient: linear-gradient(51.05deg, #EE2238 -57.1%, #BF1D67 156.72%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin-inline: 16px;
  text-align: center;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(31, 41, 55);

  @media screen and (min-width: 768px) {
    margin: auto;
  }
}

img {
  width: 100%;
  border-radius: 16px;
}

h1 {
  text-align: center;
  text-shadow: 3px 3px 3px #919191;
  transition: color 0.3s
}

.container {
  max-width: 1200px;
}

.card {
  display: flex;
  width: fit-content;
  align-items: center;
  border: 1px solid #3e3c3c;
  border-radius: 16px;
  transition: all 0.3s;

  img {
    width: 70px;
  }
}

.bolder {
  font-weight: bold;
}

.card:hover {
  box-shadow: 3px 3px 3px #919191;
  transform: translate(-2px, -2px);
}

.card img {
  border-radius: 16px;
  margin: 8px
}

.card-info {
  padding: 0 16px;
}

.separator {
  width: 300px;
  height: 1px;
  background: #3e3c3c;
  margin: 24px auto;
}

.mt-3 {
  margin-top: 24px;
}

.mb-3 {
  margin-bottom: 24px;
}

.primary-color {
  color: var(--primary-color);
}

#logo-zenika {
  width: 200px;
}

#decouverte ul {
  width: fit-content;
  text-align: left;
  margin: 0 auto;
}

#apprentissage img {
  width: 400px;
}

/********************************************/
/** -----------UNDERLINE EFFECT----------- **/
/********************************************/

.hover-underline {
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--primary-gradient);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

/*****************************************/
/** -----------STYLED BUTTON----------- **/
/*****************************************/

.styled-button {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: white;
  background: #3e3c3c;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 var(--primary-color);
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg)
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/*******************************/
/** -----------svg----------- **/
/*******************************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/******* SVG animations *******/

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: var(--primary-color);
  }
  100% {
    fill: white;

  }
}

/******* Nav *******/
nav {
  background: #eee;
  margin-block: 16px;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 400px;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: none;
  width: 100%;
}

nav li a {
  display: block;
  width: 100%;
  padding: 20px;
  border-left: 5px solid;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav li a:hover {
  border-bottom: 0px;
  color: white;
}

nav li:first-child a {
  border-left: 10px solid #3e3c3c;
}

nav li:nth-child(2) a {
  border-left: 10px solid #3e3c3c;
}

nav li:nth-child(3) a {
  border-left: 10px solid #3e3c3c;
}

nav li:nth-child(4) a {
  border-left: 10px solid #3e3c3c;
}

nav li:nth-child(5) a {
  border-left: 10px solid #3e3c3c;
}

nav li:last-child a {
  border-left: 10px solid #3e3c3c;
}

nav li a:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
}

nav li a:hover:after {
  width: 100%;
}

nav li:first-child a:after,
nav li:nth-child(2) a:after,
nav li:nth-child(3) a:after,
nav li:nth-child(4) a:after,
nav li:nth-child(5) a:after,
nav li:last-child a:after {
  background: var(--primary-gradient);
}
