@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  background-color: #000000;
  color: #ff00e5;
  text-align: center;
  font-size: 40px;
  box-shadow: 0 0 10px 10px #16d5ff;
  border-radius: 25px;
}

p {
  /*font-size: 20px;*/
  /*border: 5px dashed #1cc178;*/
}

ul {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 16px;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      border-radius: 16px;
      border: 2px solid black;
      margin-bottom: 10px;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
      filter: grayscale(0.8);

      &:hover {
        transform: scale(1.1);
        filter: grayscale(0);
      }
    }
  }
}

p {
  color: blue
}

article {
  color: limegreen;
}

article p {
  color: red;
}